.konten {
    padding: 48px 10% 48px 10%;     
}

.background-cream {
    background-color: #FDF4E9;
}
p.fw-light {
    line-height: 150%;
    color: #575757;
}
#hero-images-homepage {
    width: 50%;    
    display: block;    
}

.wrapper-hero-img {
    margin-top: -30%;
    z-index: 998;
    display: flex;
    justify-content: end;    
}

.mouse {
    width: 34px;
}

.bg-img-1 {
    height: 460px;
    background-image: url("../images/services-img-3.png");
    background-size: cover;
    object-fit: cover;    
}

.bg-img-2 {
    height: 460px;
    background-image: url("../images/services-img-4.png");
    background-size: cover;
    object-fit: cover;    
}

.bg-img-1 p, .bg-img-2 p {
    color: white !important;
    z-index: 1000;
    filter: brightness(100%) !important;
}

@media (max-width: 575px) {
    .wrapper-hero-img {
        margin-top: 0;
        z-index: 0;
        display: none;
        justify-content: end;    
    }
}

@media (max-width: 1199.98px) {
    .wrapper-hero-img {
        margin-top: 0;
        z-index: 0;
        display: flex;
        justify-content: end;    
    }
}